body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #378fe9;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #378fe9;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 60%;
    border-radius: 8px;
}

section h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

section img {
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 15%;
    width: 112px;
    height: 150px;
}

section p, section ul li p {
    text-align: justify;
}

section ul {
    list-style-type: disc;
    margin-left: 40px;
}

ul {
    list-style-type: disc;
    margin-left: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: blue;
    text-decoration: underline;
}